* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#menubox {
  
}
/* Desktop */
@media (min-width: 1200px) {
  .col-lg-1 {
    float: left;
    border: 1px solid green;
  }
  .col-lg-1 {
    width: 8.33%;
  }
}
/* Tablet */
@media (min-width: 1200px) {
  .col-lg-1 {
    float: left;
    border: 1px solid green;
  }
  .col-lg-1 {
    width: 8.33%;
  }
}
/* Mobile */
@media (min-width: 1200px) {
  .col-lg-1 {
    float: left;
    border: 1px solid green;
  }
  .col-lg-1 {
    width: 8.33%;
  }
}
