* {
  box-sizing: border-box;
}
h1 {
  margin: 1em;
  text-align: center;
}
.row {
  width: 100%;
}
.row>div {
  background-color: gray;
  margin: 1em;
}
div>section {
  position: relative;
  right: 0px;
  border: 1px solid black;
}
div>p {
  margin: 1em;
}
/* Desktop */
@media (min-width: 992px) {
  .col-lg {
    border: 1px solid black;
    width: 33.33%;
  }
}
/* Tablet */
@media (min-width: 768px) and (max-width: 991px) {
  .col-md {
    border: 1px solid black;
    width: 50%;
  }
}
/* Mobile */
@media (max-width: 767px) {
  .col-sm {
    border: 1px solid black;
    width: 100%;
  }
}
