* {
  box-sizing: border-box;
  font-family: arial;
}

body {
	margin: 0;
}

#header-nav {
	background-color: gray;
	border-radius: 0;
	border: 0;
	height: auto;
}
#nav-list {
  border: 1.5px black solid;
}
#nav-list a {
  border: 1.5px black solid;
  background-color: gray;
  color: black;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}

.navbar-default .navbar-brand {
	text-decoration: none;
	font-size: 2em;
	color: black;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 2px solid #000;
}

.row {
	width: 100%;
}
h2 {
	margin: 1em 1em;
}
section {
  margin: 1em 1em;
  background-color: gray;
  width: auto;
  height: auto;
}
p {
  padding: 1em 1em;
  font-size: 100%;
}